<!DOCTYPE html>
<html>
  <head>
    <title>Your Gmail Stats</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
  </head>
  <body>
    <h1>Your Gmail Stats <span id="showDate" style="font-size: .7em">since <%= date %></span></h1>
    Choose a new date: <input type="date" id="date" />
    <p>You have <%= total %> emails, <span id="unread"></span> unread and <span id="read"></span> read. You have <span id="attachments"></span> emails with attachments (There are <span id="numTypes"></span> different types of attachments).</p>
    <div class="container">
      <div id="container" style="min-width: 310px; height: auto; margin: 0 auto"></div>
      <div id="container2" style="min-width: 310px; height: auto; margin: 0 auto"></div>
      <div id="container3" style="min-width: 310px; height: auto; margin: 0 auto"></div>
    </div>
    <script type="text/javascript">
      //pie charts

      var read;
      var unread;
      var noatt;
      var attachments;
      var numTypes;

      function updatePies (){
        console.log('Pies are being updated ...');
        read = <%= read %>;
        unread = <%= unread %>;
        noatt = <%= noatt %>;
        attachments = <%= attachments %>;
        numTypes = <%= numTypes %>;

        $('#read').text(read);
        $('#unread').text(unread);
        $('#noatt').text(noatt);
        $('#attachments').text(attachments);
        $('#numTypes').text(numTypes);
      }


      //pie charts
      $(function () {
        updatePies();
        $('#container').highcharts({
          chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
          },
          title: {
            text: 'Unread vs Read'
          },
          tooltip: {
            pointFormat: '{series.name}: <b>{point.y}</b>'
          },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                enabled: false
              },
              showInLegend: true
            }
          },
          series: [{
            name: "Emails",
            colorByPoint: true,
            data: [{
              name: "Unread",
              y: unread
            }, {
              name: "Read",
              y: read,
              sliced: true,
              selected: true
            }]
          }]
        });
        $('#container2').highcharts({
          chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
          },
          title: {
            text: 'Attachments'
          },
          tooltip: {
            pointFormat: '{series.name}: <b>{point.y}</b>'
          },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                enabled: false
              },
              showInLegend: true
            }
          },
          series: [{
            name: "Emails",
            colorByPoint: true,
            data: [{
              name: "Attachments",
              y: attachments
            }, {
              name: "No Attachments",
              y: noatt,
              sliced: true,
              selected: true
            }]
          }]
        });
        $('#container3').highcharts({
          chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
          },
          title: {
            text: 'Attachment Types'
          },
          tooltip: {
            pointFormat: '{series.name}: <b>{point.y}</b>'
          },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                enabled: false
              },
              showInLegend: true
            }
          },
          series: [{
            name: "Type",
            colorByPoint: true,
            data: [
              <% for(var i = 0; i < numTypes; i++){ %>
              {
                name: '<%= mimes_arr[i].mtype %>',
                y: <%= mimes_arr[i].count %>
              },
              <%}%>
              ]
          }]
        });
      });
    </script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
